Last login: Thu Mar 26 07:44:35 on ttys006
Martin-Dietls-MacBook-Pro:~ dietl_ma$ cd ~/S
Sites/   Studium/ 
Martin-Dietls-MacBook-Pro:~ dietl_ma$ cd ~/Studium/_WIEN/DSE/_code/
Martin-Dietls-MacBook-Pro:_code dietl_ma$ ls
DseDomain		DseNewsBeeper		dse12.iml
DseGeoResolver		RemoteSystemsTempFiles	pom.xml
DseMmi			Servers			readme.txt
Martin-Dietls-MacBook-Pro:_code dietl_ma$ vi .git
.git/       .gitignore  
Martin-Dietls-MacBook-Pro:_code dietl_ma$ vi .gitignore 



















#Eclipse
.classpath
.project
.settings/
.metadata/
/Servers/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Spring
.springbeans

~                                                                                                   
~                                                                                                   
~                                                                                                   
~                                                                                                   
~                                                                                                   
~                                                                                                   
~                                                                                                   
".gitignore" 22L, 154C


