#Eclipse
.classpath
.project
.settings/
.metadata/
/Servers/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Spring
.springbeans

#specific
Broker/target/
Company/target/
Domain/target/
Market/target/
Investor/target/
MarketAgent/target/


